<form class="form form-striped">

    <label class="keys">First Name:</label>
    <input class="values" data-ng-model="vm.firstName"></input>
    <label class="keys">Last Name:</label>
    <input class="values" data-ng-model="vm.lastName"></input>

    <label class="keys">D.O.B.:</label>
    <input class="values" data-ng-model="vm.dob"></input>
    <label class="keys">Age:</label>
    <input class="values" data-ng-model="vm.age">

    <label class="keys">Attending:</label>
    <input class="values" data-ng-model="vm.attending"></input>
    <label class="keys">Room#:</label>
    <input class="values" data-ng-model="vm.room">

    <label class="keys">MRN:</label>
    <input class="values" data-ng-model="vm.mrn"></input>
    <label class="keys">Allergies:</label>
    <input class="values" data-ng-model="vm.allergies">


</form>
