<div class="container">
  <div class="row">
    <div class="col-md-3" >
      <div class="" ng-repeat="patient in vm.patients">
        <button type="button" class="btn btn-primary activeButton btn-lg" ng-hide="vm.hide == 'hide'+$index" ng-click="vm.active=$index">
          {{patient.lastName}}
        </button>
      </div>

    </div>
    <div class="col-md-6 middle_container">
      <table class="table table-striped">
        <tr>
          <td>First Name:</td>
          <td>{{vm.patients[vm.active].firstName}}</td>
          <td>Last Name:</td>
          <td>{{vm.patients[vm.active].lastName}}

          </td>
        </tr>
        <tr>
          <td>D.O.B.:</td>
          <td>{{vm.patients[vm.active].dob}}</td>
          <td>Age:</td>
          <td>{{vm.patients[vm.active].age}}
          </tr>
          <tr>
            <td>Attendant:</td>
            <td>{{vm.patients[vm.active].attendingName}}</td>
            <td>Room#:</td>
            <td>{{vm.patients[vm.active].roomNumber}}
            </tr>
            <tr>
              <td>MRN:</td>
              <td>{{vm.patients[vm.active].mrn}}</td>
              <td>Allergies:</td>
              <td>{{vm.patients[vm.active].allergies}}
              </tr>
              <tr>
                <td>Allergies:</td>
                <td>{{vm.patients[vm.active].allergies}}</td>
                <td>Occupation:</td>
                <td>{{vm.patients[vm.active].occupation}}
                </tr>
                <tr>
                  <td>Family History:</td>
                  <td>{{vm.patients[vm.active].familyHistory}}</td>
                  <td>PMH:</td>
                  <td>{{vm.patients[vm.active].pmh}}
                  </tr>
                  <tr>
                    <td>Home Meds:</td>
                    <td>{{vm.patients[vm.active].homeMeds}}</td>
                    <td>Surgical HX:</td>
                    <td>{{vm.patients[vm.active].surgicalHx}}
                    </tr>
                    <tr>
                      <td>Smoking:</td>
                      <td>{{vm.patients[vm.active].smoking}}</td>
                      <td>Alcohol:</td>
                      <td>{{vm.patients[vm.active].alcohol}}
                      </tr>
            </table>
          </div>
          <!-- <div class="row">
          <div class="col-md-2">
          <p>First Name:</p>
          <p>Last Name:</p>
          <p>D.O.B:</p>
          <p>Age:</p>
          <p>Attendant:</p>
        </div>
        <div class="col-md-2 ">
        <p>{{vm.patients[vm.active].firstName}}</p>
        <p>{{vm.patients[vm.active].lastName}}</p>
        <p>{{vm.patients[vm.active].dob}}</p>
        <p>{{vm.patients[vm.active].age}}</p>
        <p>{{vm.patients[vm.active].attendingName}}</p>
      </div>
      <div class="col-md-1">
      <p>Room#:</p>
      <p>MRN:</p>
      <p>Allergies:</p>
      <p>Occupation:</p>
      <p>Family History:</p>
    </div>
    <div class="col-md-2 col-md-offset-1">
    <p>{{vm.patients[vm.active].roomNumber}}</p>
    <p>{{vm.patients[vm.active].mrn}}</p>
    <p>{{vm.patients[vm.active].allergies}}</p>
    <p>{{vm.patients[vm.active].occupation}}</p>
    <p>{{vm.patients[vm.active].familyHistory}}</p>
  </div>
  <div class="col-md-2">
  <p>PMH:</p>
  <p>HomeMeds:</p>
  <p>SurgicalHx:</p>
  <p>Smoking:</p>
  <p>Alcohol:</p>
</div>
<div class="col-md-2">
<p>{{vm.patients[vm.active].pmh}}</p>
<p>{{vm.patients[vm.active].homeMeds}}</p>
<p>{{vm.patients[vm.active].surgicalHx}}</p>
<p>{{vm.patients[vm.active].smoking}}</p>
<p>{{vm.patients[vm.active].alcohol}}</p>
</div> -->
<!-- </div> -->
<div class="col-md-3" >
  <button type="button" class="btn btn-primary btn-lg" id="activeButton" ng-click="">
    Add Patient
  </button>
  <button type="button" class="btn btn-primary btn-lg" id="activeButton" ng-click="">
    Edit Patient
  </button>
  <button type="button" class="btn btn-primary btn-lg" id="activeButton" ng-click="">
    Expand Patient
  </button>

</div>
</div>


</div>
