  <div ui-sref="Home" class="jumbotron" id="jumbotron">
    <h1>Hand<span id="off">-Off</span> <img src="assets/pill.png" alt="" /> </h1>

  </div>
<main data-ui-view>


</main>
<div class="row">


</div>
