  <div ui-sref="Home" class="jumbotron" id="jumbotron">
    <h1>Hand<span id="off">-Off</span> <img src="https://pixabay.com/static/uploads/photo/2015/07/23/13/09/medicine-856933_960_720.png" alt="" /> </h1>

  </div>
<main data-ui-view>


</main>
<div class="row">
  <footer class="col-md-6 col-md-offset-5"><img class="" src="/assets/TDB_Logo.png" alt=""/></footer>

</div>
