<div class="container" ng-app="handOff">
<main ng-controller="PatientIndexController as vm">
  <h1>Patient.Index.Page</h1>
  <div class="" ng-repeat="patient in vm.patients">
    {{patient.firstName}}
  </div>
</main>
</div>
