.middle_container{
  border-radius: 5px;
  color: #282c37;
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
  border: 2px solid black;
}

#activeButton {
  background-color: #dddfe6;
  color: black;
  overflow: hidden;
  width: 200px;
  margin: 9px
}
div[class="jumbotron"] {
  background-size: auto;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: Black Ops One, cursive;
}
.activeButton{
  margin: 5px;
  display: block;
}
