@font-face {
	font-family:"Optima";
	src: local('Optima'), url('unicode.optima.ttf') format('ttf'));
/*font-family: 'Mathilde';
font-style: normal;
font-weight: normal;
src: local('Mathilde'), url('mathilde.woff') format('woff');*/
}
img {
  height: 100px;
  width: auto;
}
main {
  font-family: 'Roboto', sans-serif;
}
.middle_container{
  background-color: white;
  border-radius: 5px;
  color: #282c37;
  font-size: 1.5em;
  border: 2px solid black;
  padding-top: 10px;
}

h1 {
  background-size: auto;
  text-align: center;
  font-family: 'Abel', cursive;
}
#activeButton {
  background-color: #dddfe6;
  color: black;
  overflow: hidden;
  width: 200px;
  margin: 9px
}
div[class="jumbotron"] {
  background-size: auto;
  text-align: center;
  color: black;
  font-family: Optima;
  height: 150px;
}
td,tr,th{
  width: 200px;
  max-height: 10px;
  overflow: hidden;
}
#patientButton{
  text-align: left;
  width: 175px;
  background-color: white;
  color: black;
  margin: 5px;
}
img[class="pill"] {
  height: 25px;
  width: auto;
}

.keys {
  font-weight: bolder;
}
.values {
  font-style: italic;
}
.italic {
  font-style: italic;
  font-size: .6em;
}
.Labs {
  font-size: 5em;
  font-family: 'Roboto', sans-serif;
  text-align: right
}
.BMP {
  background-image: url("BMP.png");
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;

}
.Na {
  position: relative;
  top: 10px;
  right: 560px;
}
.K {
  position: relative;
  top: 60px;
  right: 560px;
}
.Cl {
  position: relative;
  bottom: 180px;
  right: 70px;
  text-align: center;
}
.Bicarb {
  position: relative;
  bottom: 145px;
  right: 70px;
  text-align: center;
}
.Cr {
  position: relative;
  bottom: 245px;
  left: 430px;
  text-align: left;
}
.Bun {
  position: relative;
  bottom: 475px;
  left: 430px;
  text-align: left;
}
.Glucose {
  position: relative;
  bottom: 510px;
  left: 630px;
  text-align: left;
}
.CBC{
  background-image: url("CBC.png");
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: .6em;
  margin: 10px;

}
.WBC {
  position: relative;
  top: 110px;
  right: 330px;

}
.Hgb {
  position: relative;
  left: 0px;
  bottom: 0px;
  text-align: center;
}
.HCT {
  position: relative;
  left: 0px;
  top: 70px;
  text-align: center;

}
.PLT {
  position: relative;
  bottom: 60px;
  left: 330px;
  text-align: left
}

.PTPTT {
  background-image: url("PTPTT.png");
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;

}
.PT {
  position: relative;
  right: 200px;
  top: 100px;
}
.aPTT {
  position: relative;
  left: 230px;
  text-align: left;

}
.INR {
  position: relative;
  left: 0px;
  top: 30px;
  text-align: center;
}
#Labs {
  width: auto;
  margin: auto;
}
